@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');



/* 
 ******** GENERAL ********
 */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0px;
  text-align: center;
}

.h222 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

button {
  text-transform: uppercase;
  outline: none;
}

.loginPage {
  display: flex;
}

a {
  outline: none;
}

.p12 {
  font-size: 12px;
}

.p14 {
  font-size: 14px;
}

.p16 {
  font-size: 16px;
}

.colorGray {
  color: #000000;
  opacity: 0.5;
}





/* 
 ******** FEED-Page ********
 */



 .feedPage {
  height: 100%;
  width: 100%;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
}

.feedHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.05);
  border: none;
  
}

.feedHeader_left {
  display: flex;
  justify-content: space-around;
  padding-left: 5vw;
}

.feedHeader_right {
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
}

.feedLogo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 5vw;
}
  
.feedPosts {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-right: 5vw;
}
  
.feedFriends {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-right: 5vw;
}
  
.infoMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.feedTop {
  height: 80px;
  margin: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  gap: 12px;
}

.likesFriendsFollow {
  display: flex;
  align-items: center;
  gap: 42px;
}

.likesFriendsFollow_likes {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 2px black solid;
}

.likesFriendsFollow_friends {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 2px transparent solid;
}

.likesFriendsFollow_follow {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 2px transparent solid;
}


.topDividerLine {
  border-bottom: 1px solid #000000;
  opacity: 0.05;
}

.feedContainer {
  margin: 32px 10vw 10vw 10vw;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(33.8vw, 1fr)); */
  /* grid-gap: 20px; */
}

.my-masonry-grid {
  /* margin: 32px 10vw 10vw 10vw; */
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}
 
/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.item {
  padding: 30px;
}

.newPost {
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 30px */
}

.newPost_left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.newPost_picture {
  min-height: 60px;
  min-width: 60px;
}

.newPost_button {
  height: 60px;
  width: 60px;
  background: linear-gradient(132.96deg, #C468FF 3.32%, #6E91F6 100%);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post {
  background: white;
}

.post_header {
  /* margin: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_header_left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.post_header_nameUpdate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post_text {
  margin: 30px 0px;
}

.post_pictures {
  /* margin: 0px 0px 30px 0px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 20px;
}

.post_pictures > img {
  min-width: 100%;
  /* min-height: 100%; */
  object-fit: cover;
  /* width: 100%; */
  /* height: 100%; */
}

.post_footer {
  display: flex;
  margin: 30px 0px 0px 0px;
  justify-content: space-between;
}

.post_footer_likeShare {
  display: flex;
  gap: 30px;
}

.post_footer_like {
  display: flex;
  gap: 12px;
}

.repost {
  background: white;
}

.repost_header {
  /* margin: 30px; */
  display: flex;
  gap: 12px;
}

.repost_header_right {
  position: relative;
  top: 6px;
}

.repostContainer {
  padding-left: 30px;
  border-left: 1px solid hsla(0, 0%, 0%, 0.05);
}