@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');



/* 
 ******** GENERAL ********
 */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0px;
  text-align: center;
}

.h222 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

button {
  text-transform: uppercase;
  outline: none;
}

.loginPage {
  display: flex;
}

a {
  outline: none;
}

.p12 {
  font-size: 12px;
}

.p14 {
  font-size: 14px;
}

.p16 {
  font-size: 16px;
}

.colorGray {
  color: #000000;
  opacity: 0.5;
}



/* 
******** LEFT SIDE ********
 */

 

 .leftSide {
  background-image: url("../../assets/images/background_image.png"), linear-gradient(102deg, #c468ff, #6e91f6);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topPlaceholder {
  height: 26vh;
}

.topSection {
  height: 66vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.logoPicture {
  height: 80px;
  width: 80px;
}

.logoPart {
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoPart > h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #FFFFFF;
  margin: 2vh 0 0 0;
}

.logoPart > p {
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 3vh 0;
}

.buttonsPart {
  display: flex;
  justify-content: center;
}

.logoButtons {
  margin: 0.5vw;
  display: flex;
  height: 40px;
  width: 120px;
  border-radius: 30px;
  border: 2px solid rgba(215, 215, 215, 0.5);
  background: none;
  align-items: center;
  justify-content: center;
}

.logoButtons > img {
  margin: 10px;
}

.logoIcons {
  height: 17vh;
  display: flex;
  align-items: flex-end;
}

.icons {
  height: 40px;
  width: 40px;
  margin: 0.5vw;
  opacity: 0.5;
  border-radius: 100px;
  box-shadow: inset 0px 0px 0px 4px #ffffff;
}

footer {
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* font-size: 12px; */
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  color: #ffffff;
}



/* 
 ******** RIGHT SIDE ********
 */
 

 
 .rightSide {
   width: 58%;
}

header {
  height: 26vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5vh;
  margin-right: 3.6vw;
}

.headerContent > p {
  /* font-size: 14px; */
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: black;
  margin-right: 20px;
}

.headerContent > button {
  height: 40px;
  width: 120px;
  background: white;
  border-radius: 30px;
  border: 1px solid #D7D7D7;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: center;
}

.signIn {
  height: 36vh;
}

.loginTitle {
  padding-bottom: 2.5vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputIcon {
  height: 20px;
  width: 20px;
}

input {
  height: 50px;
  width: 340px;
  border: none;
  border-radius: 0px;
  padding-left: 30px;
  outline: none;
  /* background-image: url(./assets/svgs/avatar.svg); */
  background-repeat: no-repeat;
  background-position: left center;
}

.userName {
  background-image: url(../../assets/svgs/avatar.svg);
}

.passWord {
  background-image: url(../../assets/svgs/password.svg);
}




.inputContainer {
  border-bottom: 2px solid #D7D7D7;
  display: flex;
  align-items: center;
  margin: 2.5vh 0vh;
}

.inputContainer:active {
  outline: none;
  background: rgba(0, 162, 255, 0.1);
  transition: background 0.25s;
}

.inputContainer:hover {
  outline: none;
  background: rgba(0, 162, 255, 0.1);
  transition: background 0.25s;
}

input:active {
  outline: none;
  background: rgba(0, 162, 255, 0.1);
  transition: background 0.25s;
}

input:focus {
  border: none;
  background-color: rgba(0, 162, 255, 0.1);
  transition: background 0.25s;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.loginForm > input {
  margin: 4vh;
}

.loginButton {
  height: 36vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logBtn {
  text-transform: uppercase;
  width: 280px;
  height: 60px;
  border: 0px;
  color: white;
  background: linear-gradient(132.96deg, #C468FF 3.32%, #6E91F6 100%);
  border-radius: 30px;
  /* position: absolute;
  top: 76.5vh; */
}

